//Couleur du fond
$background: #D0D0D0;
$backgroundLight: #E5E5E5;

$color-text: #000000;
//La couleur la plus courante pour indiquer un contenu
$primary: #AE622A;

//La couleur secondaire pour indiquer un contenu
$secondary: #7a6335;

//Accentuations sur les éléments avec lesquels l'utilisateur peut intéragir
$accent: #38BA1E;

$accentLight: #48F226;

//Couleur qui annonce un problème et qui doit interpelé l'utilisateur
$warn: #C81B1B;

//deux types de graisse.
$bold: 800;
$lightBold: 600;


//CSS module alert
.yu-alert {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 4px 4px 0px 4px;
	&.yu-warn {
		border: 1px solid $warn;
		box-shadow: 5px 5px 15px 5px rgba($warn, 0.1);
		border-radius: 5px;
	}

	&.yu-info {
		border: 1px solid $secondary; 
		box-shadow: 5px 5px 15px 5px rgba($secondary, 0.1);
		border-radius: 5px;
	}
}


.btn {
	background-color: $accent;
	border: none;
	padding:7px;
	margin: 3px;
	border-radius: 5%;
	cursor: pointer;
	overflow: hidden;

	&.btn-primary {
		background-color: rgba($primary, 0.7);

		&:hover {
			background-color: rgba($primary, 0.5);
		}
	}

	&.btn-secondary {
		background-color: rgba($secondary, 0.7);

		&:hover {
			background-color: rgba($secondary, 0.5);
		}
	}

	&.btn-warn {
		background-color: rgba($warn, 0.7);

		&:hover {
			background-color: rgba($warn, 0.5);
		}
	}

	&:hover {
		background-color: $accentLight;
	}

    a{
      color: $color-text;

      &:hover {
        color: $color-text;
        text-decoration: none;
      }
    }
}

.btn-list {
	width: 100%;
	margin: 0px 0px 5px 0px;
}


ul.yu-list {
	padding: 0px;
	list-style: none;
	li.yu-list-item {
		margin: 5px 0px 5px 0px;
	}
}



body { 
	margin: 0px;
	font-family:Roboto,"Helvetica Neue",sans-serif;
	
	display: flex;
	flex-direction: column;
	height: 100vh;
}

p, span, body {
	color: rgba($color-text, 0.54);
}

h1, h2, h3, h4, p, span, em {
	&.yu-align-right {
		text-align: right;
	}

	&.yu-align-left {
		text-align: left;
	}

	&.yu-align-justify {
		text-align: justify;
	}

	&.yu-warn {
		color: $warn;
	}

	&.yu-info {
		color: $secondary;
	}
}

.yu-align-right{
	margin-left: auto;
	margin-right: 0px;
}

.yu-hide {
	visibility: hidden;
}

.yu-remove {
	display: none;
}

//fenêtre > 690
@media (min-width: 690px) {
	.yu-web-page {
		font-weight: $bold;
		font-size: 24px;
	}

	.yu-title {
		font-weight: $bold;
		font-size: 18px;
	}

	.yu-subtitle {
		font-weight: $lightBold;
		font-size: 16px;
	}

	.yu-subtext {
		font-size: 12px;
	}

	p, span, body {
		font-size: 14px;
	}
}

//fenêtre < 690
@media (max-width: 690px) {
	.yu-web-page {
		font-weight: $bold;
		font-size: 20px;
	}

	.yu-title {
		font-weight: $bold;
		font-size: 14px;
	}

	.yu-subtitle {
		font-weight: $lightBold;
		font-size: 12px;
	}

	.yu-subtext {
		font-size: 8px;
	}

	p, span, body {
		font-size: 10px;
	}
}

a {
	color: $accent;
	text-decoration: none;

	&:hover {
		color: $accentLight;
		text-decoration: none;
	}
}


.yu-header {
	padding: 5px 5px 5px 5px;
	background-color: $primary;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.yu-left-header {
		z-index: 2;
		flex: 2;
		white-space: nowrap;
	}
}

.yu-footer {
	padding: 5px 5px 5px 5px;
	background-color: $primary;
}


//fenêtre < 690
@media (max-width: 690px) {
	.yu-content {
		flex-direction: column;
		div.yu-menu {
			width: 100%;
			box-sizing: border-box;
		}
	}
}

//fenêtre > 990px
@media (min-width: 690px) {
	.yu-content {
		flex-direction: row;
		div.yu-menu {
			width: 200px;
			box-sizing: border-box;
		}
	}
}


.yu-content {
	flex: 1;
	display: flex;
	background-color: $background;
	overflow: hidden;
	div.yu-menu {
		margin-right: 20px;
		box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.1);
		padding: 7px;
	}

	div.yu-page-container {
		flex: 1;
		overflow-x: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 15px;
		padding-right: 15px;

		.yu-page {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			align-content: space-around;
		}
		//fenêtre > 990
		@media (min-width: 990px) {
			.yu-page {
				width: 70%;
			}
		}	

		//fenêtre < 990
		@media (max-width: 990px) {
			.yu-page {
				width: 100%;
			}
		}	
	}

	.yu-title {
		color: $primary;
	}

	.yu-subtitle {
		color: $primary;
	}
}

.yu-padding {
	padding: 2px;
	&.yu-small {
		padding: 5px;
	}

	&.yu-large {
		padding: 15px;
	}

	&.yu-medium {
		padding: 10px;
	}
}


.yu-padding-v {
	padding: 2px 0px 2px 0px;
	&.yu-small {
		padding: 5px 0px 5px 0px;
	}

	&.yu-large {
		padding: 15px 0px 15px 0px;
	}

	&.yu-medium {
		padding: 10px 0px 10px 0px;
	}
}

.yu-padding-h {
	padding: 0px 2px 0px 2px;
	&.yu-small {
		padding: 0px 5px 0px 5px;
	}

	&.yu-large {
		padding: 0px 15px 0px 15px;
	}

	&.yu-medium {
		padding: 0px 10px 0px 10px;
	}
}

.yu-center {
	margin-right: auto;
	margin-left: auto;
}

.yu-layout-column {
	display: flex;
	flex-direction: column;
}

.yu-layout-row {
	display: flex;
	flex-direction: row;
}

//fenêtre > 690
@media (min-width: 690px) {
	.yu-xl-layout-column {
		display: flex;
		flex-direction: column;
	}

	.yu-xl-layout-row {
		display: flex;
		flex-direction: row;
	}
}

//fenêtre < 690
@media (max-width: 690px) {
	.yu-xs-layout-column {
		display: flex;
		flex-direction: column;
	}

	.yu-xs-layout-row {
		display: flex;
		flex-direction: row;
	}
}

.yu-grow {
	flex: 1;
}

.yu-block {
	background-color: $backgroundLight;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	overflow: hidden;
	.yu-block-title {
		font-weight: 900;
	}
}

.yu-input-container {
	label {
		color: $accent;
	}

	label:hover {
		color: $accentLight;
	}

	input, select, textarea {
		cursor: pointer;
		width:100%;
		margin: 5px;
		padding: 5px;
		border: 1px solid $accent;
		//box-shadow: 5px 5px 15px 5px rgba($accent, 0.1);
		border-radius: 5px;
	}

	textarea {
		resize: vertical;
	}

	input, select, textarea:hover {
		border: 1px solid $accentLight;
		//box-shadow: 5px 5px 15px 5px rgba($accentLight, 0.1);
		border-radius: 5px;
	}

	fieldset {
		border: 1px solid $accent;
		border-radius: 5px;
		legend {
			color: $accent;
		}

		label {
			//white-space: nowrap;
			margin-right: 5px;
			input {
				width: auto;
			}
		}
	}
}

.yu-container {
	//display: flex;
	//flex-direction:row;
}

.yu-flex {
	flex: 1;
	&.yu-2 {
		flex: 2;
	}

	&.yu-3 {
		flex: 3;
	}
}